.badge-delete {
  align-self: center;
  color: red;
  cursor: pointer;
}
.mytags-main {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 150px;
}
.mytags {
  display: flex;
  background-color: #aaa;
  border-radius: 4px;
  color: #fff;
}
