/*body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
/***/
.rank-label {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #fad5c0, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  font-weight: 600;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.profile-header-container {
  margin: 0 auto;
  text-align: center;
  /* line-height: 1 !important; */
}

.profile-header-img {
  padding: 54px;
  line-height: 1 !important;
}
a {
  padding: 4px 8px 10px;
  margin-bottom: 9px;
  font-size: 18px;
  /* line-height: 1 !important; */
  display: flex !important;
  justify-content: center;
}
.desc {
  font-size: 13px;
  line-height: 15px;
  display: flex !important;
  justify-content: center;
}
.info {
  padding: 6px 11px 12px;
}
/* .profile-header-img > img.img-circle {
  width: 120px;
  .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
  }
  height: 120px;
  border: 2px solid #51d2b7;
} */
/*.profile-header {
    margin-top: 43px;
}*/
.rank-label-container {
  margin-top: -19px;
  text-align: center;
}
.label.label-default.rank-label {
  background-color: rgb(81, 210, 183);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}
