.button {
  margin: 0 10vw;
}

.download-picture-icon {
  font-size: 6vw;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.img {
  max-height: 300px;
  max-width: 300px;
  padding: 10px !important;
  border: 1px dashed #999 !important;
  float: left;
}
input[type="file"] {
  visibility: hidden;
  position: absolute;
}
.fadein {
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
