.chat-people-col-title > span {
  border-bottom: 3px solid #fd5068;
  font-weight: bold;
}

.chat-people-list {
  height: calc(100% - 56px);
  /* display: flex; */
  /* flex-direction: column; */
  user-select: none;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-people-list::-webkit-scrollbar {
  display: none;
}

.chat-people-item {
  display: flex;
}

.chat-people-item-container-image {
  position: relative;
}

.chat-people-item-selected {
  cursor: pointer;
  border-right: 5px solid #fd5068;
  background: #fff;
  box-shadow: 0 0 15px 0 hsla(0, 0%, 50.6%, 0.22);
}

.chat-people-item:hover {
  cursor: pointer;
  border-right: 5px solid #fd5068;
  background: #fff;
  box-shadow: 0 0 15px 0 hsla(0, 0%, 50.6%, 0.22);
}

.chat-people-item-online {
  position: absolute;
  right: -7px;
  top: 31px;
  width: 17px;
  height: 17px;
  background-color: #fd5068;
  /* background-color: #00ff00; */
  border: 3px solid #f5f7fa;
  border-radius: 50%;
  animation: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chat-people-item-image {
  width: 74px;
  height: 74px;
}

.chat-people-item-infos {
  align-self: center;
}

.chat-people-item-pseudo {
  text-transform: capitalize;
  color: #2c2c2c;
  font-weight: 600;
}

.chat-people-item-last-msg {
  text-transform: capitalize;
  color: #7c7c7c;
}
