.rank-label {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #fad5c0, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  font-weight: 500;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.profile-header-container {
  text-align: center;
}

.profile-header-img {
  line-height: 1 !important;
  width: 200px;
  height: 200px;
}
/* a {
  padding: 4px 8px 10px;
  margin-bottom: 9px;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 2 !important;
  display: flex !important;
  justify-content: center;
} */
.desc {
  font-size: 13px;
  line-height: 15px;
  display: flex !important;
  justify-content: center;
  text-transform: capitalize;
}

.rank-label-container {
  text-align: center;
  margin-top: -3px;
}

/* rank-label {
  background-color: rgb(81, 210, 183);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
} */

.delete {
  position: absolute;
  top: 30%;
  left: -10px;
  cursor: pointer;
}

.popularity-icon {
  color: rgb(255, 220, 128);
}
