.style-menu {
  background-color: white;
  border-radius: 6px;
  /* box-shadow: 6px 6px 1px 2px rgba(0, 0, 255, 0.2); */
}
.styleCard {
  background-color: white;
  border-radius: 6px;
  box-shadow: 6px 6px 1px 2px rgba(0, 0, 0, 0.1);
}

.styleCard:hover {
  /* border: 2px solid; */
  background: linear-gradient(
    -45deg,
    #ee7752,
    #fad5c0,
    #23a6d5,
    #23d5ab
  ) !important;
  cursor: pointer;
  /* opacity: 0.9; */
  animation: colorcard;
  animation-duration: 2s;
  animation-name: colorcard;
}

.btn-outline-info {
  width: 100%;
}

@keyframes colorcard {
  0% {
    opacity: 0.5;
    transform: rotate(0deg);
  }
  30% {
    opacity: 0.8;
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
