.navbar-main {
  background: linear-gradient(-45deg, #ee7752, #fad5c0, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  font-weight: 800;
}

.navbar-container > * {
  margin-bottom: 0;
}

.navbar-tab {
  color: #fff;
}
.navbar-tab:hover {
  /*-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff,  0 0 80px #fff,  0 0 100px #fff;*/
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff;
}
.dropdown-item:hover {
  text-shadow: 1px 1px 2px #fad5c0, 0 0 1em #23d5ab, 0 0 0.2em  #23d5ab !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar .dropdown-menu::after {
  display: none;
}

.sup-notification-text {
  top: -0.1em;
  left: -0.1em !important;
}
.sup-notification-icon {
  top: -1em;
  right: 0.7em !important;
}

.sup-notification-icon > * {
  background-color: #fcaf45;
  color: white;
}
sup {
  font-size: 90% !important;
}
.icon:hover {
  -webkit-box-shadow: 10px 10px 30px 15px white;
}

.notifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
}
